@model ProyectoApiCore.Web.Integrantes

@{
    ViewData["Title"] = "Agregar Integrante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10 container">

    <br /><br /><br />

    <div class="row justify-content-center pb-5">

        <div id="proyectos" class="col-md-12 pb-5">

            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Agregar Integrantes</h5>

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="numeroDocumento" class="control-label"></label>
                            <input asp-for="numeroDocumento" class="form-control" />
                            <span asp-validation-for="numeroDocumento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="primerNombre" class="control-label"></label>
                            <input asp-for="primerNombre" class="form-control" />
                            <span asp-validation-for="primerNombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="segundoNombre" class="control-label"></label>
                            <input asp-for="segundoNombre" class="form-control" />
                            <span asp-validation-for="segundoNombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="primerApellido" class="control-label"></label>
                            <input asp-for="primerApellido" class="form-control" />
                            <span asp-validation-for="primerApellido" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="segundoApellido" class="control-label"></label>
                            <input asp-for="segundoApellido" class="form-control" />
                            <span asp-validation-for="segundoApellido" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="fechaNacimiento" class="control-label"></label>
                            <input asp-for="fechaNacimiento" class="form-control" />
                            <span asp-validation-for="fechaNacimiento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="idTipoDocumento" class="control-label"></label>
                            <input asp-for="idTipoDocumento" class="form-control" />
                            <span asp-validation-for="idTipoDocumento" class="text-danger"></span>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-8 datePorject">
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="far fa-calendar-alt"></i> Fecha :
                                        <b>
                                            @DateTime.Now.Date.ToString("f")
                                        </b>
                                    </small>
                                </p>
                            </div>

                            <div class="col-md-4 text-right">
                                <a asp-action="Index" class="btn btn-danger">Regresar</a>
                                <a asp-action="Create" class="btn btn-info">Guardar Integrante</a>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
       
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
